[submodule "/home/ahsan/.dots/.config/yazi/plugins/bat.yazi"]
	path = /home/ahsan/.dots/.config/yazi/plugins/bat.yazi
	url = https://github.com/mgumz/yazi-plugin-bat.git
[submodule "/home/ahsan/.dots/.zsh/pure"]
	path = /home/ahsan/.dots/.zsh/pure
	url = https://github.com/sindresorhus/pure.git
