[Install]
WantedBy=hyprland-session.target

[Service]
ExecStart=wl-paste --type image --watch cliphist -max-dedupe-search 10 -max-items 500 store
Restart=on-failure
Type=simple

[Unit]
Description=Clipboard management daemon - images
PartOf=graphical-session.target
